// COLORS
$primary-color3: #63b3f5;
$secondary-color3: #5193c9;

$primary-color2: #15456dd0;
$secondary-color2: #2f69a0d0;

$primary-color: #63b3f5;;
$secondary-color: #5193c9;



// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;
$grey: #7e7e7e;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
